<div class="container mt-5">
    <form [formGroup]="alertsForm">
      <!-- Success Alert Form Group -->
      <div class="form-group row mb-4 alert-form-group">
        <label for="successAlert" class="col-sm-2 col-form-label">Success Message:</label>
        <div class="col-sm-4">
          <input id="successAlert" formControlName="successAlert" type="text" class="form-control">
        </div>
        <label for="successDuration" class="col-sm-2 col-form-label">Duration (seconds):</label>
        <div class="col-sm-2">
          <input id="successDuration" formControlName="successDuration" type="number" min="1" class="form-control">
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-success" (click)="submitSuccess()">Display Success</button>
        </div>
      </div>
      <!-- Error Alert Form Group -->
      <div class="form-group row mb-4 alert-form-group">
        <label for="errorAlert" class="col-sm-2 col-form-label">Error Message:</label>
        <div class="col-sm-4">
          <input id="errorAlert" formControlName="errorAlert" type="text" class="form-control">
        </div>
        <label for="errorDuration" class="col-sm-2 col-form-label">Duration (seconds):</label>
        <div class="col-sm-2">
          <input id="errorDuration" formControlName="errorDuration" type="number" min="1" class="form-control">
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-danger" (click)="submitError()">Display Error</button>
        </div>
      </div>
      <!-- Info Alert Form Group -->
      <div class="form-group row mb-4 alert-form-group">
        <label for="infoAlert" class="col-sm-2 col-form-label">Info Message:</label>
        <div class="col-sm-4">
          <input id="infoAlert" formControlName="infoAlert" type="text" class="form-control">
        </div>
        <label for="infoDuration" class="col-sm-2 col-form-label">Duration (seconds):</label>
        <div class="col-sm-2">
          <input id="infoDuration" formControlName="infoDuration" type="number" min="1" class="form-control">
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-info" (click)="submitInfo()">Display Info</button>
        </div>
      </div>
      <!-- Warning Alert Form Group -->
      <div class="form-group row mb-4 alert-form-group">
        <label for="warningAlert" class="col-sm-2 col-form-label">Warning Message:</label>
        <div class="col-sm-4">
          <input id="warningAlert" formControlName="warningAlert" type="text" class="form-control">
        </div>
        <label for="warningDuration" class="col-sm-2 col-form-label">Duration (seconds):</label>
        <div class="col-sm-2">
          <input id="warningDuration" formControlName="warningDuration" type="number" min="1" class="form-control">
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-warning" (click)="submitWarning()">Display Warning</button>
        </div>
      </div>
    </form>
  </div>
  